.browseMain {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.browseSelector {
    margin: 1rem 0;
    box-shadow: var(--primaryColor) 0 0 0 2px;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.browseButton {
    background: none;
    border: none;
    padding: 0.2rem 1.3rem;
    transition: all 200ms ease;
    color: var(--primaryColor);
    font-size: 1.1rem;
}

.browseButton.active {
    background-color: var(--primaryColor);
    border-radius: 50px;
    color: white;
    box-shadow: var(--primaryColor) 0 0 0 1px;
}

.browseCards{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;

}

@media screen and (max-width: 600px){
    .browseSelector{
        align-self: center;
    }
    .browseButton {
        font-size: 0.8rem;
    }
}