.CourseCardMain{
    width: 190px;
    height: 310px;
    padding: 5px;
    box-shadow: 0 1px 5px rgba(0,0,0,.25);
    border-radius: 12px;
    background-color: #fff;
    cursor: pointer;
}

.CourseCardMain:hover{
    box-shadow: 0 1px 15px rgba(0,0,0,.25);
}

.CourseCardImage{
    width: 100%;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 10px 10px 0 0;
}

.CourseCardTitleArea{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.CourseCardTitle{
    font-size: 14px;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.CourseCardDescription{
    font-size: 10px;
    color: #686868;
    margin: 0.5rem 1rem;
    display: grid;
}