.navBarMain {
    padding: 0 20px;
    background: #fff;
    box-shadow: 0 0 10px 1px rgba(0,0,0,.2);
    border-bottom: 1px solid rgba(0,0,0,.2);
    display: flex;
    gap: 1rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 102;
    align-items: center;
    height: 68px;
    justify-content: space-between;
}

.navBarMenu {
    display: none;
}

.navBarLogo {
    background-image: url("../Assets/beyond-exams-logo.svg");
    height: 67px;
    width: 107px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.navBarSearchArea {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    background-color: var(--backgroundColor);
    padding-right: 0.5rem;
}

.navBarSearchIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primaryColor);
    border-radius: 50%;
    height: 55px;
    width: 55px;
    border: none;
    color: white;
}

.navBarSearchIcon.searchActive {
    margin-left: -3rem;
    margin-right: 1rem;
}

.navBarSearchInput {
    border:none;
    background-image:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: white;
    width: 0;
    transition: width 300ms ease;
    border-radius: 50px;
}

.navBarSearchInput.searchActive {
    padding: 1rem 0.5rem;
    width: 100%;
    box-shadow: 0 4px 9px rgba(0,0,0,.25);
}

.navBarCoursesButton {
    outline: none;
    border: none;
    background: white;
    font-size: 13px;
    padding: 8px 15px;
    border-radius: 1rem;
    margin-right: auto;
    margin-left: 1rem;
}

.navBarCoursesButton.searchActive {
    display: none;
}

.navBarCoursesButton:hover {
    color: var(--primaryColor);

}

.navBarServicesButton {
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-right: 1rem;
}

.navBarServicesButton.searchActive {
    display: none;
}

@media screen and (max-width: 600px) {
    .navBarCoursesButton,
    .navBarServicesButton {
        display: none;
    }

    .navBarLogo {
        background-image: url("../Assets/beyond-exams-logo-mobile.svg");
        width: 50px;
    }

    .navBarSearchArea {
        width: auto;
        padding: 0;
    }

    .navBarMenu {
        display: block;
    }

    .navBarLogo.searchActive,.navBarMenu.searchActive {
        display: none;
    }

    .navBarSearchArea.searchActive {
        width: 100%;
    }

    .navBarSearchIcon.searchActive {
        margin-right: 0;
    }
}