@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --primaryColor: #6646e7;
    --backgroundColor: #f1edff;
}

* {
    font-family: 'Poppins', sans-serif !important;
    font-weight : 500;
    margin : 0;
    padding : 0;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
